logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
app/fabric/bin/


#以下文件可以通过接口/init/generate生成
app/fabric/first-network/connection-*
app/fabric/first-network/docker-compose-e2e.yaml
app/fabric/first-network/channel-artifacts/*.tx
app/fabric/first-network/channel-artifacts/*.block
app/fabric/first-network/crypto-config/
#以上文件可以通过接口/init/generate生成


